{% extends "after-dark/templates/index.html" %}

{% block extra_head %}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ config.title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="{{ get_url(path='icon.png') }}">
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ get_url(path='site.css', trailing_slash=false, cachebust=true) | safe }}">
{% endblock css %}


{% block content %}

	{% block header %}
		{{ super() }}
	{% endblock header %}

	<main>
		{% if section.content %}
			{{ section.content | safe }}
		{% endif %}
	</main>

{% endblock content %}:

